/Assets
/Library
/Logs
/Packadges

.vsconfig
Assembly-CSharp.csproj
FPV_drone_simulator.sln
Unity.XR.Hands.Samples.VisualizerSample.csproj
Unity.XR.Interaction.Toolkit.Samples.Hands.csproj
Unity.XR.Interaction.Toolkit.Samples.Hands.Editor.csproj
Unity.XR.Interaction.Toolkit.Samples.StarterAssets.csproj
Unity.XR.Interaction.Toolkit.Samples.StarterAssets.Editor.csproj